.search-container {
    text-align: center;
    max-width: 400px;
    margin: auto;
  }
  
  .search-options button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #ee5151;
    border-radius: 5px;
  }
  
  .search-box input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #638d32;
    border-radius:5px;
}